@import "./variable.scss";
@import "./media.scss";

#tokenomics {
  position: relative;
  padding-top: 80px;
}

#tokenomics::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: radial-gradient(
    circle farthest-side at 91% 54%,
    rgba(21, 71, 207, 0.42),
    #000 45%
  ) !important;
  background-size: 85%;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* opacity: 0.2; */
  background-repeat: no-repeat;
  background-position: top right;
}
.btn__ {
  animation: moveUpDown 0.2s infinite alternate;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@media only screen and (max-width: 600px) {
  .text__ {
    font-size: 3rem !important;
    margin-bottom: 20px;
  }
}
